<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}">

</head>
<body class="bg-body-secondary">

<div th:replace="~{fragments/header :: header}"></div>

<div class="container bordered my-5">

    <hr/>
    <div class="row" id="toolbar1">
        <div class="col-4">

            <a class="btn btn-success" href="/device/edit">Update status</a>

        </div>


        <div class="col-4">
            <h4 th:text="${device.status}"></h4>
        </div>

    </div>
    <hr/>

    <div class="row rounded border p-4 bg-light">
        <table class="table">
            <tr>
                <th>Photo</th>
                <td>
                    <img th:src="@{'/images/device/'+${device.serialNumber}+'/'+${device.imageFileName}}" alt="..." width="100"/>
                </td>
            </tr>
            <tr>
                <th>Id</th><td th:text="${device.id}"></td>
            </tr>
            <tr>
                <th>Serial Number</th><td th:text="${device.serialNumber}"></td>
            </tr>
            <tr>
                <th>Category</th><td th:text="${device.category}"></td>
            </tr>
            <tr>
                <th>Model</th><td th:text="${device.model}"></td>
            </tr>
            <tr>
                <th>Description</th><td th:text="${device.description}"></td>
            </tr>

            <tr>
                <th>Current User</th><td th:text="${device.user != null ? device.user.name : 'No User'}"></td>
            </tr>


        </table>
    </div>


    <hr/>
    <div class="row" id="toolbar">
        <div class="col-4">
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addEmployeeModal">Add New Device User</button>
        </div>


        <div class="col-4">
            <form method="get">
                <div class="row">
                    <div class="col">
                        <input type="hidden" name="serialNumber" th:value="${device.serialNumber}"/>
                        <input type="text" name="keyword" class="form-control" placeholder="Enter Keyword..."/>
                    </div>
                    <div class="col">
                        <input type="submit" class="btn btn-dark" value="Search">
                    </div>

                </div>
            </form>
        </div>
    </div>
    <hr/>


    <!-- device Assets list  -->
    <div class="table-responsive">
        <table class="table border">
            <thead>
            <th>#</th>
            <th>Photo</th>
            <th style="white-space: nowrap;">Badge Number</th>
            <th>Name</th>

            <th style="white-space: nowrap;">Work Mobile</th>
            <th>Email</th>
            <th>Asset Code</th>
            <th>Received Date</th>
            <th>Handover Date</th>
            </thead>

            <tbody>
            <tr th:each="asset: ${deviceAssets}">
                <td>
                    <input type="checkbox" name="badgeNumber" th:value="${asset.employee.badgeNumber}"/>
                </td>
                <td>
                    <img th:src="@{'/images/'+${asset.employee.badgeNumber}+'/'+${asset.employee.imageFileName}}" alt="..." width="100"/>
                </td>
                <td>
                    <a class="btn btn-info" th:text="${asset.employee.badgeNumber}" th:href="@{/employee/detail(badgeNumber=${asset.employee.badgeNumber})}"></a>
                </td>
                <td>
                    <p th:text="${asset.employee.name}"></p><br/><p th:text="${asset.employee.arName}"></p>
                </td>

                <td th:text="${asset.employee.workMobile}"></td>
                <td th:text="${asset.employee.workEmail}"></td>
                <td>
                    <a class="btn btn-info" th:text="${asset.code}" th:href="@{'/device/printAsset?code='+${asset.code}}"></a>
                </td>
                <td th:text="${asset.receivedDate}"></td>

                <td>
                    <span th:if="${asset.handoverDate != null}" th:text="${asset.handoverDate}"></span>
                    <button
                            th:if="${asset.handoverDate == null}"
                            class="btn btn-primary btn-sm"
                            data-bs-toggle="modal"
                            data-bs-target="#handoverModal"
                            th:attr="data-asset-code=${asset.code}">
                        Handover
                    </button>
                </td>





            </tr>

            </tbody>
        </table>
    </div>
    <!--/Employee list -->

</div>


<!-- Modal -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEmployeeModalLabel">Add New Device User </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form id="addDeviceUserForm" method="post" action="/device/addDeviceUser" th:object="${addDeviceUserDto}" th:with="_csrfToken=${_csrf.token}">

                    <input type="hidden" name="serialNumber"  th:field="${addDeviceUserDto.serialNumber}"/>

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrfToken}" />

                    <div class="mb-3">
                        <label for="selectEmployee" class="form-label">Select Employee</label>
                        <select id="selectEmployee" class="form-select" style="width: 100%;" name="badgeNumber" th:field="${addDeviceUserDto.badgeNumber}">
                            <option
                                    th:each="employee: ${employees}"
                                    th:value="${employee.badgeNumber}"
                                    th:text="${employee.name} +'-'+ ${employee.arName}">

                            </option>
                        </select>
                    </div>

                    <div class="form-floating my-1">
                        <input type="date" class="form-control" id="receivedDate"  name="receivedDate" th:field="${addDeviceUserDto.receivedDate}">
                        <label for="receivedDate">Received Date</label>
                        <p th:if="${#fields.hasErrors('receivedDate')}" th:errorclass="text-danger" th:errors="${addDeviceUserDto.receivedDate}"></p>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveEmployeeButton">Save</button>
            </div>
        </div>
    </div>
</div>
<!--/modal-->

<script>

    $(document).ready(function() {
                   $('#selectEmployee').select2(
                   {
                     placeholder: "Select an employee",
                     allowClear: true,
                     dropdownParent: $('#addEmployeeModal')
                   }
                   );
                 });



     $('#saveEmployeeButton').on('click', function ()
     {
        const form = $('#addDeviceUserForm');
        if ($('#selectEmployee').val())
        {
          form.submit(); // Submit the form if a value is selected
        }
        else
        {
          alert('Please select an employee.');
        }
       });

</script>



<!-- Handover Modal -->
<div class="modal fade" id="handoverModal" tabindex="-1" aria-labelledby="handoverModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/device/handover}" method="post" th:with="_csrfToken=${_csrf.token}">
                <div class="modal-header">
                    <h5 class="modal-title" id="handoverModalLabel">Handover Asset</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="assetCode" id="assetCode" />


                    <div class="mb-3">
                        <label for="handoverDate" class="form-label">Handover Date</label>
                        <input type="date" class="form-control" id="handoverDate" name="handoverDate" placeholder="Select a date" required />
                    </div>


                    <div class="mb-3">
                        <label for="handoverNote" class="form-label">Note</label>
                        <input type="text" class="form-control" id="handoverNote" name="handoverNote" placeholder="Note"  />
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Attach asset code to hidden input when the modal is triggered
    const handoverModal = document.getElementById('handoverModal');
    handoverModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget; // Button that triggered the modal
        const assetCode = button.getAttribute('data-asset-code'); // Extract data-asset-code
        const assetCodeInput = document.getElementById('assetCode');
        assetCodeInput.value = assetCode; // Set hidden input value
    });

    // Initialize Bootstrap Datepicker (or any other date picker library)
    $(document).ready(function() {
        $('#handoverDate').datepicker({
            format: 'yyyy-mm-dd', // Set date format
            autoclose: true, // Close picker on date selection
            todayHighlight: true // Highlight today's date
        });
    });
</script>




<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>