<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}">
</head>

<style>
    .circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        color: #fff;
        font-size: 24px;
    }
    .circle.light-green { background-color: #c5e3b1; }

    .asset-number {
        font-size: 14px;
        margin-top: 5px;
        font-weight: bold;
    }
</style>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main>

    <div class="container bordered my-5 ">


        <!--toolbar-->
        <div class="row rounded border p-4 bg-light">
            <div class="row my-3">
                <h5>Profile</h5>
                <hr/>
            </div>
            <div class="col-3">

                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#resetPasswordModal">Reset Password</button>

            </div>

            <div class="col-2">
                <form method="post" action="/employee/resetOTP" th:with="_csrfToken=${_csrf.token}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrfToken}" />
                    <input type="hidden" th:value="${badgeNumber}" name="badgeNumber">
                <button class="btn btn-danger" >Reset OTP</button>
                </form>
            </div>

            <div class="col-3">
                <a class="btn  btn-secondary" th:href="@{'/employee/edit?badgeNumber=' + ${badgeNumber} }">Edit information</a>
            </div>

            <div class="col-2">
                <a class="btn  btn-secondary" href="#">Timesheet</a>
            </div>

            <div class="col-2">
                <button class="btn  btn-danger" data-bs-toggle="modal" data-bs-target="#terminationModal">Termination</button>
            </div>



        </div>
        <!--/toolbar-->

        <!--basic info -->
        <div class="row rounded border p-4 bg-light">
            <div class="col-sm-4">
                <img th:src="@{'/images/'+${badgeNumber}+'/' + ${imageFileName} }" width="150"  alt="No Photo" class="rounded bg-dark"/>
            </div>
            <div class="col-sm-8">
                <table class="table   border">
                    <tr>
                        <th>Name </th> <td th:text="${userName}"></td> <th>الأسم</th>
                    </tr>
                    <tr>
                        <th>Arabic Name</th><td th:text="${userArName}"></td> <th>الإسم بالعربي</th>
                    </tr>
                    <tr>
                        <th>Badge Number </th> <td th:text="${badgeNumber}"></td><th>الرقم الوظيفي</th>
                    </tr>
                    <tr>
                        <th>GOV. Id </th> <td th:text="${govId}"></td><th> الرقم المدني</th>
                    </tr>

                    <tr>
                        <th>Email</th><td th:text="${workEmail}"></td><th>البريد الإلكتروني عمل</th>
                    </tr>
                    <tr>
                        <th>Work Mobile</th> <td th:text="${workMobile}"></td><th>رقم الجوال عمل</th>
                    </tr>
                    <tr>
                        <th>Personal Email</th><td th:text="${personalEmail}"></td><th>  البريد الإلكتروني خاص</th>
                    </tr>
                    <tr>
                        <th>Personal Mobile</th> <td th:text="${personalMobile}"></td><th>رقم الجوال خاص</th>
                    </tr>
                    <tr>
                        <th>Department Name</th> <td th:text="${departmentName}"></td><th>القسم</th>
                    </tr>
                    <tr>
                        <th>Status</th> <td th:text="${status}"></td><th>الحاله</th>
                    </tr>
                    <tr>
                        <th>Office Location</th> <td th:text="${officeLocation}"></td><th>عنوان المكتب</th>
                    </tr>

                    <tr>
                        <th>Business Unit</th> <td th:text="${businessUnit}"></td><th> وحدة الأعمال</th>
                    </tr>


                    <tr>
                        <th>Marital Status</th> <td th:text="${maritalStatus}"></td><th>  الحالة الإجتماعية</th>
                    </tr>

                    <tr>
                        <th>Sponsor Name</th> <td th:text="${sponsorName}"></td><th>   اسم الكفيل</th>
                    </tr>



                    <tr>
                        <th>AR. Job Title</th> <td th:text="${arJobTitle}"></td><th>    المسمي الوظيفي</th>
                    </tr>

                    <tr>
                        <th>Job Title</th> <td th:text="${jobTitle}"></td><th>    المسمي الوظيفي</th>
                    </tr>


                    <tr>
                        <th>Citizenship</th> <td th:text="${citizenship}"></td><th>     الجنسية</th>
                    </tr>



                    <tr>
                        <th>Birth Date</th> <td th:text="${birthDate}"></td><th>تاريخ الميلاد</th>
                    </tr>

                    <tr>
                        <th>Hire Date</th> <td th:text="${hireDate}"></td><th>تاريخ التوظيف</th>
                    </tr>

                    <tr>
                        <th>termination Date</th> <td th:text="${terminationDate}"></td> <th>تاريخ الفصل</th>
                    </tr>

                    <tr>
                        <th>
                            Roles
                        </th>
                        <td>
                            <ul class="list-group">
                                <li th:each="role:${roles}" th:text="${role.getRoleName()}"  class="list-group-item"></li>
                            </ul>
                        </td>
                        <th>الصلاحيات</th>
                    </tr>
                </table>
            </div>




            <!--Company Asset-->
            <div class="container text-center mt-5">
                <div class="row justify-content-center">

                    <!-- Laptop Asset -->
                    <div class="col-auto">
                        <div class="circle light-green">
                            <img th:src="@{/img/Laptop.png}">
                        </div>
                        <div class="asset-number" th:text=" ${laptopCount}">Laptops: 15</div>
                    </div>


                    <!-- Printer Asset -->
                    <div class="col-auto">
                        <div class="circle light-green">
                            <img th:src="@{/img/Printer.png}">
                        </div>
                        <div class="asset-number" th:text="${printerCount}">Printer: -</div>
                    </div>


                    <!-- Phone Asset -->
                    <div class="col-auto">
                        <div class="circle light-green">
                            <img th:src="@{/img/SmartPhone.png}">
                        </div>
                        <div class="asset-number" th:text="${smartPhoneCount}">Phones: 20</div>
                    </div>



                    <!-- Monitor Asset -->
                    <div class="col-auto">
                        <div class="circle light-green">
                            <img th:src="@{/img/Monitor.png}">
                        </div>
                        <div class="asset-number" th:text="${monitorCount}">Monitor: 20</div>
                    </div>


                </div>
            </div>
            <!--Company Asset-->


        </div>
        <!--/basic info -->

        <hr/>

        <!--Notification Center -->
        <!--toolbar-->
        <div class="row rounded border p-4 bg-light">
            <div class="row my-3">
                <h5>System Logs</h5>
                <hr/>
            </div>
            <div class="col-4">
                <form method="get">
                    <div class="row">
                        <div class="col">
                            <input type="text" name="keyword" placeholder="Search..." id="systemLogSearch" class="form-control">
                            <input type="hidden" name="badgeNumber" th:value="${badgeNumber}">
                        </div>
                        <div class="col">
                            <input type="submit" value="Search" class="btn btn-secondary">
                        </div>
                    </div>
                </form>
            </div>



        </div>
        <!--/toolbar-->

        <!-- log -->
        <div class="row rounded border p-4 bg-light">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="log : ${systemLogs}">
                    <td th:text="${log.id}"></td>
                    <td th:text="${#temporals.format(log.createdAt, 'yyyy-MM-dd hh:mm:ss a')}"></td>
                    <td th:text="${log.description}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--/log  -->
        <!--Page navigation -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <!-- Previous Button -->
                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                    <a class="page-link" th:href="@{/employee/detail(page=${currentPage - 1}, size=${pageSize}, badgeNumber=${badgeNumber})}" tabindex="-1">Previous</a>
                </li>

                <!-- Start of Pagination Numbers -->
                <li class="page-item" th:if="${currentPage > 2}">
                    <a class="page-link" th:href="@{/employee/detail(page=0, size=${pageSize}, badgeNumber=${badgeNumber})}">1</a>
                </li>
                <li class="page-item disabled" th:if="${currentPage > 2}">
                    <a class="page-link">...</a>
                </li>

                <!-- Dynamic Page Numbers -->
                <li class="page-item" th:each="i : ${#numbers.sequence(currentPage - 2 > 0 ? currentPage - 2 : 0, currentPage + 2 < totalPages - 1 ? currentPage + 2 : totalPages - 1)}"
                    th:classappend="${i == currentPage} ? 'active'">
                    <a class="page-link" th:href="@{/employee/detail(page=${i}, size=${pageSize}, badgeNumber=${badgeNumber})}" th:text="${i + 1}"></a>
                </li>

                <!-- End of Pagination Numbers -->
                <li class="page-item disabled" th:if="${currentPage < totalPages - 3}">
                    <a class="page-link">...</a>
                </li>
                <li class="page-item" th:if="${currentPage < totalPages - 3}">
                    <a class="page-link" th:href="@{/employee/detail(page=${totalPages - 1}, size=${pageSize}, badgeNumber=${badgeNumber})}" th:text="${totalPages}"></a>
                </li>

                <!-- Next Button -->
                <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/employee/detail(page=${currentPage + 1}, size=${pageSize}, badgeNumber=${badgeNumber})}">Next</a>
                </li>
            </ul>
        </nav>

        <!--/page navigation-->

        <!--restPassword Modal -->
        <div class="modal fade" id="resetPasswordModal" tabindex="-1" aria-labelledby="resetPasswordLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="resetPasswordLabel">Reset Password</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <form id="restPasswordForm" method="post" action="/employee/restPassword" th:object="${restPasswordDto}" th:with="_csrfToken=${_csrf.token}">

                            <input type="hidden" name="badgeNumber"  th:field="${restPasswordDto.badgeNumber}"/>

                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrfToken}" />

                            <div class="form-floating my-1">
                                <input type="password" class="form-control" id="password"  name="password" required th:field="${restPasswordDto.password}">
                                <label for="password">Password</label>
                                <p th:if="${#fields.hasErrors('password')}" th:errorclass="text-danger" th:errors="${restPasswordDto.password}"></p>
                            </div>

                        </form>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="resetPasswordButton">Reset Password</button>
                    </div>
                </div>
            </div>
        </div>


        <!--/modal-->


        <!-- terminationModal -->
        <div class="modal fade" id="terminationModal" tabindex="-1" aria-labelledby="terminationLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="terminationLabel">Termination</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <form id="terminationForm" method="post" action="/employee/termination" th:object="${terminationDto}" th:with="_csrfToken=${_csrf.token}">

                            <input type="hidden" name="badgeNumber"  th:field="${terminationDto.badgeNumber}" th:value="${badgeNumber}"/>

                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrfToken}" />

                            <div class="form-floating my-1">
                                <select  class="form-select" id="articleNumber"  name="articleNumber" required th:field="${terminationDto.articleNumber}">
                                    <option value="80">فصل الموظف على المادة 80</option>
                                    <option value="77">فصل الموظف على المادة 77</option>
                                    <option value="75">فصل الموظف على المادة 75</option>
                                    <option value="81">فصل الموظف على المادة 81</option>
                                </select>
                                <label for="articleNumber">Article Number</label>
                                <p th:if="${#fields.hasErrors('articleNumber')}" th:errorclass="text-danger" th:errors="${terminationDto.articleNumber}"></p>
                            </div>




                            <div class="form-floating my-1">
                                <input type="date" class="form-control" id="lastDay"  name="lastDay" required th:field="${terminationDto.lastDay}">
                                <label for="lastDay">Last Day</label>
                                <p th:if="${#fields.hasErrors('lastDay')}" th:errorclass="text-danger" th:errors="${terminationDto.lastDay}"></p>
                            </div>

                        </form>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="terminationSubmitButton">Submit</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- / terminationModal -->


    </div><!--/Container -->


    <script>
        // For Reset Password Modal
        document.getElementById('resetPasswordButton').addEventListener('click', function() {
            console.log("Reset Password Modal Click");
            const passwordInput = document.getElementById('password');
            const form = document.getElementById('restPasswordForm');

            if (passwordInput.value.trim()) {
                form.submit();
            } else {
                alert('Please enter password.');
            }
        });

    // For Termination Modal
    document.getElementById('terminationSubmitButton').addEventListener('click', function() {
        console.log("termination Modal Click");
        const form = document.getElementById('terminationForm');
        form.submit();
    });
    </script>


</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>