<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}">

</head>
<body class="bg-body-secondary">

<div th:replace="~{fragments/header :: header}"></div>

<div class="container bordered my-5">

     <div class="row" id="toolbar">
         <div class="col-4">
             <a href="/employee/add" class="btn btn-success">Add</a>
         </div>

         <div class="col-4">
             <a href="#" class="btn btn-outline-success">Import CSV</a>
         </div>

         <div class="col-4">
             <form method="get">
                 <div class="row">
                     <div class="col">
                         <input type="text" name="keyword" class="form-control" placeholder="Enter Keyword..."/>
                     </div>
                     <div class="col">
                         <input type="submit" class="btn btn-dark" value="Search">
                     </div>


                 </div>
             </form>
         </div>
     </div>
    <hr/>
    <!--Employee list  -->
    <div class="table-responsive">
    <table class="table border">
        <thead>
        <th>#</th>
        <th>Photo</th>
        <th style="white-space: nowrap;">Badge Number</th>
        <th>Name</th>
        <th>Department</th>
        <th style="white-space: nowrap;">Work Mobile</th>
        <th>Email</th>
        <th>Created At</th>
        </thead>

        <tbody>
        <tr th:each="employee: ${employees}">
            <td>
                <input type="checkbox" name="badgeNumber" th:value="${employee.badgeNumber}"/>
            </td>
            <td>
                <img th:src="@{'/images/'+${employee.badgeNumber}+'/'+${employee.imageFileName}}" alt="..." width="100"/>
            </td>
            <td>
                <a class="btn btn-info" th:text="${employee.badgeNumber}" th:href="@{/employee/detail(badgeNumber=${employee.badgeNumber})}"></a>
            </td>
            <td>
                <p th:text="${employee.name}"></p><br/><p th:text="${employee.ar_name}"></p>
            </td>
            <td th:text="${employee.department != null ? employee.department.name : 'No Department'}"></td>
            <td th:text="${employee.workMobile}"></td>
            <td th:text="${employee.workEmail}"></td>
            <td th:text="${employee.createdAt}"></td>
        </tr>

        </tbody>
    </table>
    </div>
    <!--/Employee list -->

</div>


<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>