<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}">

</head>
<body class="bg-body-secondary">

<div th:replace="~{fragments/header :: header}"></div>

<div class="container-fluid bordered my-5">

     <div class="row" id="toolbar">
         <div class="col-2">
             <a href="/employee/add" class="btn btn-success">Add</a>
         </div>

         <div class="col-2">
             <a href="/employee/downloadTemplate" class="btn btn-success">Download CSV</a>
         </div>

         <div class="col-2">
             <button  class="btn btn-outline-success" id="importCSV">Import CSV</button>

             <form method="post" enctype="multipart/form-data" th:object="${importEmployeeDto}" th:with="_csrfToken=${_csrf.token}" id="importCSVForm" action="/employee/importCSV">
                 <input type="file" id="formFile" name="csvFileName" th:field="${importEmployeeDto.csvFile}" style="display:none">
                 <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrfToken}" />
             </form>

             <script>
                    const importBtn = document.getElementById("importCSV");
                    const formFile = document.getElementById("formFile");
                    const importCSVForm = document.getElementById("importCSVForm");

                    // Handle button click to trigger file input
                    importBtn.onclick = function () {
                        formFile.click();
                    };

                    // Submit the form after a file is selected
                    formFile.onchange = function () {
                        if (formFile.files.length > 0) {
                            importCSVForm.submit();
                        } else {
                            alert("No file selected!");
                        }
                    };
             </script>
         </div>

         <div class="col-2">
             <button  class="btn btn-outline-success" id="importPhotoBtn">Import Photo .ZIP</button>
             <form method="post" enctype="multipart/form-data"  th:with="_csrfToken=${_csrf.token}" id="importPhotoForm" action="/employee/importPhoto">
                 <input type="file" id="photoFile" name="photoFile"  style="display:none">
                 <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrfToken}" />
             </form>

             <script>
                 const importPhotoBtn     = document.getElementById("importPhotoBtn");
                 const photoFile      = document.getElementById("photoFile");
                 const importPhotoForm = document.getElementById("importPhotoForm");

                 // Handle button click to trigger file input
                 importPhotoBtn.onclick = function () {
                     photoFile.click();
                 };

                 // Submit the form after a file is selected
                 photoFile.onchange = function () {
                     if (photoFile.files.length > 0) {
                         importPhotoForm.submit();
                     } else {
                         alert("No file selected!");
                     }
                 };
             </script>
         </div>

         <div class="col-4">
             <form method="get">
                 <div class="row">
                     <div class="col">
                         <input type="text" name="keyword" class="form-control" placeholder="Enter Keyword..."/>
                     </div>
                     <div class="col">
                         <input type="submit" class="btn btn-dark" value="Search">
                     </div>


                 </div>
             </form>
         </div>
     </div>
    <hr/>
    <!--Employee list  -->
    <h4 th:text="${'Total Records: '+ totalItems}"></h4>
    <div class="table-responsive">
    <table class="table border">
        <thead>
        <th>#</th>
        <th>Photo</th>
        <th style="white-space: nowrap;">Badge Number</th>
        <th>Name</th>
        <th>Department</th>
        <th style="white-space: nowrap;">Work Mobile</th>
        <th>Email</th>
        <th>Status</th>
        <th>Ref.Id</th>
        </thead>

        <tbody>
        <tr th:each="employee: ${employees}">
            <td>
                <input type="checkbox" name="badgeNumber" th:value="${employee.badgeNumber}"/>
            </td>
            <td>
                <img th:src="@{'/images/'+${employee.badgeNumber}+'/'+${employee.imageFileName}}" alt="..." width="100"/>
            </td>
            <td>
                <a class="btn btn-info" th:text="${employee.badgeNumber}" th:href="@{/employee/detail(badgeNumber=${employee.badgeNumber})}"></a>
            </td>
            <td>
                <p th:text="${employee.name}"></p><br/><p th:text="${employee.arName}"></p>
            </td>
            <td th:text="${employee.department != null ? employee.department.name : 'No Department'}"></td>
            <td th:text="${employee.workMobile}"></td>
            <td th:text="${employee.workEmail}"></td>
            <td th:text="${employee.status}"></td>
            <td th:text="${employee.refId}"></td>
        </tr>

        </tbody>
    </table>
    </div>
    <!--/Employee list -->



    <!--Page navigation -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <!-- Previous Button -->
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/employee/list(page=${currentPage - 1}, size=${pageSize})}" tabindex="-1">Previous</a>
            </li>

            <!-- Start of Pagination Numbers -->
            <li class="page-item" th:if="${currentPage > 2}">
                <a class="page-link" th:href="@{/employee/list(page=0, size=${pageSize})}">1</a>
            </li>
            <li class="page-item disabled" th:if="${currentPage > 2}">
                <a class="page-link">...</a>
            </li>

            <!-- Dynamic Page Numbers -->
            <li class="page-item" th:each="i : ${#numbers.sequence(currentPage - 2 > 0 ? currentPage - 2 : 0, currentPage + 2 < totalPages - 1 ? currentPage + 2 : totalPages - 1)}"
                th:classappend="${i == currentPage} ? 'active'">
                <a class="page-link" th:href="@{/employee/list(page=${i}, size=${pageSize})}" th:text="${i + 1}"></a>
            </li>

            <!-- End of Pagination Numbers -->
            <li class="page-item disabled" th:if="${currentPage < totalPages - 3}">
                <a class="page-link">...</a>
            </li>
            <li class="page-item" th:if="${currentPage < totalPages - 3}">
                <a class="page-link" th:href="@{/employee/list(page=${totalPages - 1}, size=${pageSize})}" th:text="${totalPages}"></a>
            </li>

            <!-- Next Button -->
            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                <a class="page-link" th:href="@{/employee/list(page=${currentPage + 1}, size=${pageSize})}">Next</a>
            </li>
        </ul>
    </nav>

    <!--/page navigation-->


</div>


<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>