<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}">

</head>
<body class="bg-body-secondary">

<div th:replace="~{fragments/header :: header}"></div>

<div class="container bordered my-5">

    <div class="row" id="toolbar">
        <div class="col-4">
            <a href="system/role/add" class="btn btn-success">Add</a>
        </div>

        <div class="col-4">
            <a href="#" class="btn btn-outline-success">Import CSV</a>
        </div>

        <div class="col-4">
            <form method="get">
                <div class="row">
                    <div class="col">
                        <input type="text" name="keyword" class="form-control" placeholder="Enter Keyword..."/>
                    </div>
                    <div class="col">
                        <input type="submit" class="btn btn-dark" value="Search">
                    </div>


                </div>
            </form>
        </div>
    </div>
    <hr/>
    <!-- list  -->
    <div class="table-responsive">
        <table class="table border">
            <thead>
            <td><input type="checkbox" name="all"/> </td>
            <th>#</th>
            <th>Name</th>
            <th>Total Members</th>

            </thead>

            <tbody>
            <tr th:each="role: ${roles}">
                <td>
                    <input type="checkbox" name="id" th:value="${role.id}"/>
                </td>

                <td>
                    <a class="btn btn-info" th:text="${role.id}" th:href="@{/system/rolesDetail(id=${role.id})}"></a>
                </td>

                <td th:text="${role.roleName}"></td>
                <td th:text="${role.getTotalMember()}"></td>

            </tr>

            </tbody>
        </table>
    </div>
    <!--/ list -->

</div>


<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>