<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>

<style>
    .circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        color: #fff;
        font-size: 24px;
    }
    .circle.light-green { background-color: #c5e3b1; }

    .asset-number {
        font-size: 14px;
        margin-top: 5px;
        font-weight: bold;
    }
</style>
<body>


<div th:replace="~{fragments/header :: header}"></div>

<main>

    <div class="container bordered my-5 ">


        <!--toolbar-->
        <div class="row rounded border p-4 bg-light">
            <div class="row my-3">
                <h5>Profile</h5>
                <hr/>
            </div>
            <div class="col-2">
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#changePasswordModal">Change Password</button>
            </div>

            <div class="col-3">
                <button class="btn  btn-secondary" data-bs-toggle="modal" data-bs-target="#updateMyInfoModal">Update My information</button>
            </div>

            <div class="col-3">
                <button class="btn  btn-secondary">Add Document</button>
            </div>

            <div class="col-2">
                <a class="btn  btn-secondary" href="/payslip/MyPayslips">My Payslips</a>
            </div>



            <div class="col-2">
                <a class="btn  btn-secondary" th:href="@{/timesheet/employee(id=${employeeId})}">Timesheet</a>
            </div>

        </div>
        <!--/toolbar-->

        <!--basic info -->
        <div class="row rounded border p-4 bg-light">
            <div class="col-sm-4">
                <img th:src="@{'/images/'+${badgeNumber}+'/' + ${imageFileName} }" width="150"  alt="No Photo" class="rounded bg-dark"/>
            </div>
            <div class="col-sm-8">
                <table class="table   border">
                    <tr>
                        <th>Name </th> <td th:text="${userName}"></td>
                    </tr>
                    <tr>
                        <th>Arabic Name</th><td th:text="${userArName}"></td>
                    </tr>
                    <tr>
                        <th>Badge Number </th> <td th:text="${badgeNumber}"></td>
                    </tr>
                    <tr>
                        <th>Email</th><td th:text="${workEmail}"></td>
                    </tr>
                    <tr>
                        <th>Work Mobile</th> <td th:text="${workMobile}"></td>
                    </tr>
                    <tr>
                        <th>Personal Mobile</th> <td th:text="${personalMobile}"></td>
                    </tr>

                    <tr>
                        <th>Department Name</th> <td th:text="${departmentName}"></td>
                    </tr>

                    <tr>
                        <th>
                            Roles
                        </th>
                        <td>
                            <ul class="list-group">
                                <li th:each="role:${roles}" th:text="${role.getRoleName()}"  class="list-group-item"></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>


            <!--Company Asset-->
                    <div class="container text-center mt-5">
                        <div class="row justify-content-center">

                            <!-- Laptop Asset -->
                            <div class="col-auto">
                                <div class="circle light-green">
                                    <img th:src="@{/img/Laptop.png}">
                                </div>
                                <div class="asset-number" th:text=" ${laptopCount}">Laptops: 15</div>
                            </div>


                            <!-- Printer Asset -->
                            <div class="col-auto">
                                <div class="circle light-green">
                                    <img th:src="@{/img/Printer.png}">
                                </div>
                                <div class="asset-number" th:text="${printerCount}">Printer: -</div>
                            </div>


                            <!-- Phone Asset -->
                            <div class="col-auto">
                                <div class="circle light-green">
                                    <img th:src="@{/img/SmartPhone.png}">
                                </div>
                                <div class="asset-number" th:text="${smartPhoneCount}">Phones: 20</div>
                            </div>



                            <!-- Monitor Asset -->
                            <div class="col-auto">
                                <div class="circle light-green">
                                    <img th:src="@{/img/Monitor.png}">
                                </div>
                                <div class="asset-number" th:text="${monitorCount}">Monitor: 20</div>
                            </div>


                        </div>
                    </div>
            <!--Company Asset-->
        </div>
        <!--/basic info -->

        <hr/>

        <!--Notification Center -->
        <!--toolbar-->
        <div class="row rounded border p-4 bg-light">
            <div class="row my-3">
                <h5>Notifications</h5>
                <hr/>
            </div>
            <div class="col-4">
                <form method="get">
                    <div class="row">
                        <div class="col">
                            <input type="text" name="keyword" placeholder="Search..." id="notificationSearch" class="form-control">
                        </div>
                        <div class="col">
                            <input type="submit" value="Search" class="btn btn-secondary">
                        </div>
                    </div>
                </form>
            </div>



        </div>
        <!--/toolbar-->

        <div class="row rounded border p-4 bg-light">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Page</th>
                    <th>Read</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="notification: ${notificationList}">
                    <td th:text="${notification.id}"></td>
                    <td th:text="${notification.createdAt}"></td>
                    <td th:text="${notification.subject}"></td>
                    <td th:text="${notification.description}"></td>
                    <td>
                        <a th:if="${notification.pageLink !=null}" th:href="${notification.pageLink +'&nId='+notification.id}" class="btn btn-dark">Open</a>
                    </td>
                    <td th:text="${notification.readAt}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--/Notification Center -->

        <!--Page navigation -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <!-- Previous Button -->
                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                    <a class="page-link" th:href="@{/dashboard(page=${currentPage - 1}, size=${pageSize})}" tabindex="-1">Previous</a>
                </li>

                <!-- Start of Pagination Numbers -->
                <li class="page-item" th:if="${currentPage > 2}">
                    <a class="page-link" th:href="@{/dashboard(page=0, size=${pageSize})}">1</a>
                </li>
                <li class="page-item disabled" th:if="${currentPage > 2}">
                    <a class="page-link">...</a>
                </li>

                <!-- Dynamic Page Numbers -->
                <li class="page-item" th:each="i : ${#numbers.sequence(currentPage - 2 > 0 ? currentPage - 2 : 0, currentPage + 2 < totalPages - 1 ? currentPage + 2 : totalPages - 1)}"
                    th:classappend="${i == currentPage} ? 'active'">
                    <a class="page-link" th:href="@{/dashboard(page=${i}, size=${pageSize})}" th:text="${i + 1}"></a>
                </li>

                <!-- End of Pagination Numbers -->
                <li class="page-item disabled" th:if="${currentPage < totalPages - 3}">
                    <a class="page-link">...</a>
                </li>
                <li class="page-item" th:if="${currentPage < totalPages - 3}">
                    <a class="page-link" th:href="@{/dashboard(page=${totalPages - 1}, size=${pageSize})}" th:text="${totalPages}"></a>
                </li>

                <!-- Next Button -->
                <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/dashboard(page=${currentPage + 1}, size=${pageSize})}">Next</a>
                </li>
            </ul>
        </nav>

        <!--/page navigation-->



        <!--restPassword Modal -->
        <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changePasswordLabel">Change Password</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <form id="changePasswordForm" method="post" action="/changePassword" th:object="${changePasswordDto}" th:with="_csrfToken=${_csrf.token}">



                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrfToken}" />

                            <div class="form-floating my-1">
                                <input type="password" class="form-control" id="oldPassword"  name="oldPassword" required th:field="${changePasswordDto.oldPassword}">
                                <label for="oldPassword">Current Password</label>
                                <p th:if="${#fields.hasErrors('oldPassword')}" th:errorclass="text-danger" th:errors="${changePasswordDto.oldPassword}"></p>
                            </div>

                            <div class="form-floating my-1">
                                <input type="password" class="form-control" id="newPassword"  name="newPassword" required th:field="${changePasswordDto.newPassword}">
                                <label for="newPassword">New Password</label>
                                <p th:if="${#fields.hasErrors('newPassword')}" th:errorclass="text-danger" th:errors="${changePasswordDto.newPassword}"></p>
                            </div>

                        </form>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="changePasswordButton">Change Password</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $('#changePasswordButton').on('click', function ()
               {
                  const form = $('#changePasswordForm');

                  if ($('#newPassword').val() && $('#oldPassword').val())
                  {
                    form.submit(); // Submit the form if a value is not empty
                  }
                  else
                  {
                    alert('Please enter your Current & New Password.');
                  }
                 });
        </script>
        <!--/modal-->


        <!--updateMyInfoModal-->
        <div class="modal fade" id="updateMyInfoModal" tabindex="-1" aria-labelledby="updateMyInfoLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateMyInfoLabel">Update My Info</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <form id="updateMyInfoForm" method="post" action="/updateMyInfo"  th:with="_csrfToken=${_csrf.token}">



                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrfToken}" />



                            <div class="form-floating my-1">
                                <input type="text" class="form-control" id="personalEmail"   name="personalEmail" th:value="${personalEmail}">
                                <label for="personalEmail">Personal Email</label>
                            </div>

                            <div class="form-floating my-1">
                                <input type="text" class="form-control" id="personalMobile"   name="personalMobile" th:value="${personalMobile}">
                                <label for="personalMobile">Personal Mobile</label>
                            </div>



                            <div class="form-floating my-1">
                                <input type="text" class="form-control"  id="emergencyContactName"  name="emergencyContactName" th:value="${emergencyContactName}">
                                <label for="emergencyContactName">Emergency Contact Name</label>
                            </div>

                            <div class="form-floating my-1">
                                <input type="text" class="form-control" id="emergencyContactMobile"   name="emergencyContactMobile" th:value="${emergencyContactMobile}">
                                <label for="emergencyContactMobile">Emergency Contact Mobile</label>
                            </div>



                        </form>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="updateMyInfoButton">Update</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $('#updateMyInfoButton').on('click', function ()
               {
                  const form = $('#updateMyInfoForm');


                    form.submit(); // Submit the form if a value is not empty

                 });
        </script>
        <!--/updateMyInfoModal-->

    </div>






</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>