<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}">

</head>
<body class="bg-body-secondary">

<div th:replace="~{fragments/header :: header}"></div>

<div class="container bordered my-5">

    <div class="row" id="toolbar">
        <div class="col-2">
            <a href="/ticket/add" class="btn btn-success">Add</a>
        </div>

        <div class="col-2">
            <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#AssignTicketModal">Assign Selected Tickets</button>
        </div>

        <div class="col-2">
            <a href="/ticket/downloadTemplate" class="btn btn-success">Download CSV</a>
        </div>

        <div class="col-2">
            <button  class="btn btn-outline-success" id="importCSV">Import CSV</button>

            <form method="post" enctype="multipart/form-data"  th:with="_csrfToken=${_csrf.token}" id="importCSVForm" action="/ticket/importCSV">
                <input type="file" id="formFile" name="csvFileName" style="display:none">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrfToken}" />
            </form>

            <script>
                const importBtn = document.getElementById("importCSV");
                const formFile = document.getElementById("formFile");
                const importCSVForm = document.getElementById("importCSVForm");

                // Handle button click to trigger file input
                importBtn.onclick = function () {
                    formFile.click();
                };

                // Submit the form after a file is selected
                formFile.onchange = function () {
                    if (formFile.files.length > 0) {
                        importCSVForm.submit();
                    } else {
                        alert("No file selected!");
                    }
                };
            </script>
        </div>

        <div class="col-4">
            <form method="get">
                <div class="row">
                    <div class="col">
                        <input type="text" name="keyword" class="form-control" placeholder="Enter Keyword..."/>
                    </div>
                    <div class="col">
                        <input type="submit" class="btn btn-dark" value="Search">
                    </div>


                </div>
            </form>
        </div>
    </div>
    <hr/>
    <!--Employee list  -->
    <h4 th:text="${'Total Records: '+ tickets.size()}"></h4>
    <div class="table-responsive">
        <table class="table border">

            <thead>
            <th>#</th>
            <th>Id</th>
            <th style="white-space: nowrap;">Badge No.</th>
            <th style="white-space: nowrap;">Requested By</th>
            <th style="white-space: nowrap;">Created At</th>
            <th style="white-space: nowrap;">Subject</th>

            <th style="white-space: nowrap;">Priority</th>
            <th style="white-space: nowrap;">Handled By</th>
            <th style="white-space: nowrap;">Status</th>
            <th style="white-space: nowrap;">Satisfaction Rating</th>

            </thead>

            <tbody>
            <tr th:each="ticket: ${tickets}">
                <td>
                    <input type="checkbox" name="ticketId" th:value="${ticket.id}" onclick="selectedTicket(this)">
                </td>
                <td>
                    <a class="btn btn-info" th:text="${ticket.id}" th:href="@{/ticket/detail(id=${ticket.id})}"></a>
                </td>
                <td style="white-space: nowrap;">
                    <a class="btn btn-info" th:text="${ticket.requestedBy.badgeNumber}" th:href="@{/employee/detail(badgeNumber=${ticket.requestedBy.badgeNumber})}"></a>
                </td>
                <td style="white-space: nowrap;" th:text="${ticket.requestedBy.name}"></td>
                <td style="white-space: nowrap;" th:text="${ticket.createdAt}"> </td>
                <td style="white-space: nowrap;" th:text="${ticket.subject}"></td>

                <td style="white-space: nowrap;" th:text="${ticket.priority}"></td>
                <td>



                    <a class="btn btn-info"
                       th:text="${ticket.handledBy != null ? ticket.handledBy.badgeNumber : 'Handle'}"

                       th:href="${ticket.handledBy != null ? '/employee/detail?badgeNumber=' + ticket.handledBy.badgeNumber : '/ticket/handle?id=' + ticket.id}">
                    </a>



                </td>
                <td th:text="${ticket.status}"></td>

                <td th:text="${ticket.satisfactionRating}"></td>
            </tr>

            </tbody>
        </table>
    </div>
    <!--/ticket list -->



    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" th:href="@{/ticket/list(page=${currentPage - 1}, size=${pageSize})}">Previous</a>
            </li>

            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                <a class="page-link"
                   th:href="@{/ticket/list(page=${i}, size=${pageSize})}"
                   th:classappend="${i == currentPage} ? 'active'">
                    <span th:text="${i + 1}"></span>
                </a>
            </li>



            <li class="page-item">
                <a class="page-link" th:href="@{/ticket/list(page=${currentPage + 1}, size=${pageSize})}">Next</a>
            </li>

        </ul>
    </nav>


</div>

<!-- Modal -->
<div class="modal fade" id="AssignTicketModal" tabindex="-1" aria-labelledby="AssignTicketModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AssignTicketModalLabel">Add Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form id="AssignTicketForm" method="post" action="/ticket/assign"  th:with="_csrfToken=${_csrf.token}">

                    <input type="hidden" name="ticketIds" id="ticketIds"  value=""/>

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrfToken}" />

                    <div class="mb-3" th:if="${supportEmployees !=null}">
                        <label for="selectEmployee" class="form-label">Select Support</label>
                        <select id="selectEmployee" class="form-select" style="width: 100%;" name="badgeNumber">
                            <option
                                    th:each="employee: ${supportEmployees}"
                                    th:value="${employee.badgeNumber}"
                                    th:text="${employee.name} +'-'+ ${employee.arName}">

                            </option>
                        </select>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveEmployeeButton">Save</button>
            </div>
        </div>
    </div>
</div>
<!--/modal-->

<script>
    const Ids = document.getElementById("ticketIds");

     function selectedTicket(ticket) {
         // Split the current value into an array of IDs
         let idArray = Ids.value ? Ids.value.split(",") : [];

         if (ticket.checked) {
             // Add the ticket value if it's not already in the array
             if (!idArray.includes(ticket.value)) {
                 idArray.push(ticket.value);
             }
         } else {
             // Remove the ticket value if it's unchecked
             idArray = idArray.filter(id => id !== ticket.value);
         }

         // Update the hidden input with the new comma-separated value
         Ids.value = idArray.join(",");
     }

       $(document).ready(function() {
                    $('#selectEmployee').select2(
                    {
                      placeholder: "Select Support employee",
                      allowClear: true,
                      dropdownParent: $('#AssignTicketModal')
                    }
                    );
                  });


     $('#saveEmployeeButton').on('click', function ()
     {
        const form = $('#AssignTicketForm');

          form.submit();

       });
</script>


<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>