<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}">

</head>
<body class="bg-body-secondary">

<div th:replace="~{fragments/header :: header}"></div>

<div class="container bordered my-5">

    <div class="row" id="toolbar">
        <div class="col-4">
            <a href="/department/add" class="btn btn-success">Add</a>
        </div>

        <div class="col-4">
            <a href="#" class="btn btn-outline-success">Import CSV</a>
        </div>

        <div class="col-4">
            <form method="get">
                <div class="row">
                    <div class="col">
                        <input type="text" name="keyword" class="form-control" placeholder="Enter Keyword..."/>
                    </div>
                    <div class="col">
                        <input type="submit" class="btn btn-dark" value="Search">
                    </div>


                </div>
            </form>
        </div>
    </div>
    <hr/>
    <!--Department list  -->
    <div class="table-responsive">
        <table class="table border">
            <thead>
            <td><input type="checkbox" name="all"/> </td>
            <th>#</th>
            <th>Name</th>
            <th>Manager</th>
            <th>Total Members</th>

            </thead>

            <tbody>
            <tr th:each="department: ${departments}">
                <td>
                    <input type="checkbox" name="badgeNumber" th:value="${department.id}"/>
                </td>

                <td>
                    <a class="btn btn-info" th:text="${department.id}" th:href="@{/department/detail(id=${department.id})}"></a>
                </td>
                <td>
                    <p th:text="${department.name}"></p><br/><p th:text="${department.ar_name}"></p>
                </td>
                <td th:text="${department.manager.name}"></td>
                <td th:text="${department.getTotalEmployees()}"></td>

            </tr>

            </tbody>
        </table>
    </div>
    <!--/Department list -->

</div>


<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>